.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #223399;
  color: #fff;

  .logo {
    font-size: 1.3rem;
  }

  .links {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 10px;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
